;
;Version counter
;vcntr [all]|[Counter1 [Counter2]] [-cConfig] [-s] [-d] [-q]
;for increment all or specific counters.
;Use -s option for skip files changes
; -s all - updates all counters but don't touch files.
; -d - debug mode
; -q - quiet mode
;

;Counters
[Ver]
MinValue=0
MaxValue=9999
Increment=1
Current=22

;Files
;#define _build_     0
;#define _ver_       1.0.0._build_

[File_00]
File="modules\include\ver.h"
Counter=Ver
Search_00="(#define _build_)(.+)([0-9]+)"
Replace_00="\0 %d"

;Build 0007
[File_01]
File="bld.txt"
Counter=Ver
Search_00="(Build )(.+)"
Replace_00="\0%04d"
